@font-face {
    font-family: 'Barlow';
    src: url('./../fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Square_Peg';
    src: url('./../fonts/Square_Peg/SquarePeg-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-color: #EAE7DC;
    font-family: 'Barlow', Helvetica;
}

.nepali {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.large-font {
    font-size: 3em;
    color: #E85A4F;
}

.center {
    text-align: center;
}

#intro-text {
    margin-top: 20px;
    margin-bottom: 100px;
    color: #000000;
    font-size: larger;
}

.colored {
    color: #E98074;
}

.hero {
    background-image: url('./../images/suranjan_rm_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-align: center;
    border-top: 5px solid #E85A4F;
    height: 200px;
    width: 200px;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 500px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    position: sticky;
    top: -1px;
    padding: 1em;
    padding-top: calc(1em + 1px);
}

header.isSticky {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    opacity: .9;
}

#nav-logo {
    background-image: url('./../images/logo.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 0.5%;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

header a {
    cursor: pointer;
    font-weight: 1000;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #E85A4F;
    cursor: pointer;
    font-weight: 1000;
}