@font-face {
    font-family: 'Barlow';
    src: url('./../fonts/Barlow/Barlow-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    background-color: #EAE7DC;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-family: 'Barlow', Helvetica;
}

.nav-logo {
    background-image: url('./../images/logo.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 0.5%;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

header li:hover {
    /* box-shadow: 0px 4px 0px 0px ; */
    box-shadow: rgba(233, 128, 116, 0.4) 0px 5px, rgba(233, 128, 116, 0.3) 0px 10px, rgba(233, 128, 116, 0.2) 0px 15px, rgba(233, 128, 116, 0.1) 0px 20px, rgba(233, 128, 116, 0.05) 0px 25px;
    /* border-bottom: 1px solid #E98074; */
    /* color: #E98074; */
    cursor: pointer;
}