@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Barlow';
    src: url('./../fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Square_Peg';
    src: url('./../fonts/Square_Peg/SquarePeg-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-color: #EAE7DC;
    font-family: 'Barlow', Helvetica;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    position: sticky;
    top: -1px;
    padding: 1em;
    padding-top: calc(1em + 1px);
}

header.isSticky {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    opacity: .9;
}

#nav-logo {
    background-image: url('./../images/logo.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 0.5%;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

header a {
    color: #0c2747;
    cursor: pointer;
    font-weight: 1000;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #E85A4F;
    cursor: pointer;
    font-weight: 1000;
}

main {
    text-align: center;
    justify-content: center;
}

.nepali {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.large-font {
    font-size: 3em;
    color: #E85A4F;
}

.colored {
    color: #E98074;
}

.hero {
    background-image: url('./../images/suranjan_rm_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-align: center;
    border-top: 5px solid #E85A4F;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    border-radius: 200px;
}

#intro-text {
    color: #0c2747;
    font-size: larger;
}

.introduction-details {
    margin-top: 2vh;
    padding: 10px;
    width: 25vw;
    border: 0px;
    border-bottom: 1px solid #E85A4F;
    border-radius: 20px;
}


#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: left;
    justify-content: center;
    font-weight: 1000;
    font-size: large;
    color: #0c2747;
}

#skills li {
    list-style: none;
}

.bar {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #EAE7DC;
    display: block;
    height: 8px;
    width: 200px;
    border: 1px solid rgba(232, 90, 79, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgba(233, 128, 116, 0.2) 0px 4px 12px;
}

.bar span {
    height: 8px;
    float: left;
    background-color: #E98074;
}

footer {
    width: 100%;
    height: 70px;
    bottom: 0px;
}

footer a,
footer a:hover {
    text-decoration: none;
}

.socialbtns {
    text-align: center;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: #E98074;
    background-color: #EAE7DC;
    border: 1px solid #E85A4F;
    padding-top: 12px;
    border-radius: 22px;
}

.socialbtns .fa:hover {
    color: #EAE7DC;
    background-color: #E85A4F;
    border: 1px solid #E85A4F;
}